.logo {
    width: 100vw;
    height: calc(100vh - 14rem);
    text-align: center;
    img {
        padding: 2rem;
        height: 100%;
    }
}
.tag {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
}